@media all and (orientation: portrait){
    .test{
        font-size: 120px;
        color: #fff;
        display: block;
    }
}

@media print{
    .test{
        font-size: 120px;
        color: #fff;
        display: block;
    }
}