@media all and (orientation: portrait){
    .test{
        font-size: 120px;
        color: #fff;
        display: block;
    }
}
/* test111222333 */
@media print{
    .test{
        font-size: 120px;
        color: #fff;
        display: block;
    }
}